/*HEADER*/
header {
	background-color: #1dace0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	color: #fff;
	font-size: 18px;
}

/*FIXED 固定する部分がどこに影しているか_Jしやすいように、クラスを分ける。*/
.fixed {
	position: fixed;
	/*top: 0;*/
	/*初期なので不要*/
	/*left: 0;  width100%なので不要*/
	width: 100%;
	margin-top: -70px /*topを０に指定しないrはmargin-topをマイナス方向にずらす*/
}

.fixed-adjustment {
	margin-top: 70px;
}


/*FIXED*/

.icon {
	margin-left: 80px;
	display: flex;
	align-items: center;
}

.icon img {
	height: 60px;
}

.icon span strong {
	color: #eae51f;
}

.header-right {
	margin-right: 80px;
	display: flex;
}

.header-right li:first-child {
	margin-right: 20px;
}
/*WELCOME*/
.welcome {
	background-image: url(../img/background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	height: 500px;
}

.title {
	font-size: 64px;
}

.guideline {
	font-size: 28px;
	margin-top: 50px;
	font-weight: bold;
}

.guideline li {
	margin-top: 16px;
}

.guideline li:first-child {
	margin-top: 0px;
}

.btn-group {
	margin-top: 60px;
}

.btn {
	width: 170px;
	height: 55px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	border-radius: 10px;
}

.register {
	background-color: rgba(29, 172, 224, .5);
	border-color: rgba(29, 172, 224, .5);
}
.register:hover {
	background-color: rgb(29, 172, 224);
}

.login {
	background-color: rgba(236,227,35, 0.5);
	border-color: rgba(236,227,35, .5);
	margin-left: 120px;
}
.login:hover {
	background-color: rgb(236,227,35);
}


/*CURRICULUM*/
.curriculum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.sub-title {
	font-size: 36px;
}
.img-box {
	display: flex;
	margin-top: 50px;
}

.img-box li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 60px;
}

.img-box li:last-child {
	margin-right: 0px;
}

.img-box img {
	width: 300px;
	height: 300px;
}

.img-box li span {
	font-size: 24px;
	margin-top: 20px;

}

/*CONTACT*/
.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
	background-color: #ebf4f5;
	padding: 50px 0;
}

.contact .form {
	margin: 50px 0 40px;
	/*3つくrは、上、左右、下*/
	display: flex;
	/*form-leftとrightを横Kびにする。*/
	/*flexにすると左に寄るので、す*/
	justify-content: center;

}

.form-left {
	/*leftとrightが中央くっついているので、*/
	margin-right: 50px;
}

.form .name,
.form .email {
	height: 50px;
	width: 400px;
	font-size: 16px;
	/*inputタグにディフォルトでついているpaddingやborderが入っているので修正する。*/
	box-sizing: border-box;

}

.form .name {
	margin-bottom: 20px;
}

.form .inquiry {
	/*高さはform-leftの高さに合わせる。*/
	height: 120px;
	width: 400px;
	/*ここもぴったり大きさをBえるために下述*/
	box-sizing: border-box;
	font-size: 16px;
}

.contact button {
	background-color: #1dace0;
	border: 3px solid #1dace0;
	/*borderを消すこともできる*/
	/*画面上からLすこともできる display: none;*/
	/*border: none;*/
	/*背景色はborder以内のI域*/
	color: #fff;
	padding: 15px 30px;
	font-size: 24px;
	border-radius: 10px;
	box-sizing: border-box;
	/*大きさk横浃铯椁胜い瑜Δ摔工毪摔瞎潭à未螭さを:hoverじゃないクラスに入れる。*/
	transition-duration: 5s;
	 /*↑↑:hoverからるときゆっくりるrgの指定*/
}

.contact button:hover {
	background-color: #fff;
	border-color: #1dace0;
	color: #1dace0;
	box-sizing: border-box;
	transition: 0.6s;
	transition-duration: 5s;
	cursor: pointer;
}

/*:hover カ`ソルを重ねたr*/
/*:active クリックしたr*/


/*名前とメ`ルアドレスの大きさは同じなので、上のように
セレクタを指定することができる。*/

/*HW*/
/*aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside h2 {
	padding-top: 30px;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
}

.form-left {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.form .name, .form .email {
	width: 300px;
	height: 50px;
	font-size: 16px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.inquiry {
	width: 300px;
}

.contact {
	display: flex;
	flex-direction: column;
}

.contact button {
	font-size: 18px;
	paddin: 5px 10px;
}*/



/*FOOTER*/

footer {
	background-color: #233f51;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	color: #fff;
	font-size: 18px;
}

.footer-right {
	margin-right: 80px;
}

/**/
/*RESPONSIBLE */
/**/
@media screen and (max-width: 1280px) {
	.img-box {
	justify-content: space-around;
}
	.img-box li {
		margin-right: 30px;
	}
}

@media screen and (max-width: 960px) {

	.img-box {
		flex-wrap: wrap;
	}

	.form {
		flex-direction: column;
	}
	.form-left {
	margin-right: 0;
	/*初めと同じセレクタを使うようにしたいので、textareaではなく、.form-leftにmargin-bottomをいれる。*/
	margin-bottom: 20px;
	}
	.form .name,
	.form .email {
		width: 80%;
		font-size: 16px;
	}
	.form .inquiry {
		width: 80%;
	}

	.contact button {
		font-size: 20px;
		padding: 5px 40px;
	}
}

/*SmartPhone*/
@media screen and (max-width: 480px) {
/*HEADER*/
	.icon {
	margin-left: 80px;
	display: flex;
	align-items: center;
	}

	.icon img {
	height: 60px;
	}

	.icon span {
	display: none;
	}

	.header-right {
	display: none;
	}

	.icon {
	margin-left: 40px;
	}

/*WELCOME*/
	.title {
		font-size: 30px;
	}

	.guideline {
		font-size: 22px;
		margin-top: 50px;
		font-weight: normal;
	}

	.guideline li {
		margin-top: 16px;
	}

	.guideline li:first-child {
		margin-top: 0px;
	}

	.btn-group {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.btn {
		width: 150px;
		height: 45px;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
	}
	.login {
		margin-left: 0;
		margin-top: 20px;
	}

/*h2タイトルの大きさ*/
	.sub-title {
		font-size: 22px;
	}

	.img-box li span {
		font-size: 18px;
		margin-bottom: 20px;
	}
}
